<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{%block title%}hello.html{%endblock title%}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>pozdravljeni</h1>
    <form method="post" action="/rezultat" >

        <label for="vpis-sporocila">vpisite vaše sporočilo</label>
        <input name="sporocilo" id="vpis-sporocila">
        <br>
        <label for="input-ime" >vpiši svoje ime</label>
        <input name="ime" id="input-ime"></br>

      <br>
        <label for="input-starost">starost</label>
        <input name="starost" id="input-starost" type="number">
      </br>
        <button type="submit">oddaj sporočilo</button>
    </form>





</body>
</html>